@{
    ViewData["Title"] = "REST API";
}

<div class="text-left">
    <h2>Предварительные условия</h2>
    <ul>
        <li>
            БД с названием UsabilityFactoryExamQuiz создана в SQL Express
        </li>
        <li>

            Базовые таблицы созданы скриптом ..\UsabilityFactoryExamQuiz.Model.EF\Scripts\20210217224833_Questionaire.sql
        </li>
    </ul>

    <h3>Имитация REST API методов</h3>
    <ul>
        <li>
            <a href="~/answers/f9d22b95-1488-4e08-a7f9-15c4366c2275/attachments">POST: answers/f9d22b95-1488-4e08-a7f9-15c4366c2275/attachments</a>
        </li>
        <li>
            <a href="~/answers/f9d22b95-1488-4e08-a7f9-15c4366c2275/events">POST: answers/f9d22b95-1488-4e08-a7f9-15c4366c2275/events</a>
        </li>
    </ul>



</div>
