@{
    ViewData["Title"] = "REST API";
}

<div class="text-left">
    <h1>ExamQuiz REST API</h1>
    <div>
        <div style="background-color:aliceblue;margin-bottom:15px;padding:10px;">
            <h2>Swagger</h2>
            <a href="~/swagger">Использовать Swagger...</a>
        </div>
        
        <div style="background-color:floralwhite;margin-bottom:15px;padding:10px;">
            <h2>Answers</h2>
            <button id="answerSource" name="answerSource">Загрузить ответы...</button>
            <span id="answersLoading" style="display:none;">Подождите, ответы загружаются...</span>
            <select id="answers" name="answers" style="display:none;"></select>
        </div>

        <div id="events" style="background-color:beige;display:none;margin-bottom:15px;padding:10px;">
            <h2>Events</h2>
            <form id="eventsForm"
                  method="post"
                  action="api/v1/answers/{answerId}/events">
                <input type="hidden" id="eventModel.AnswerId" name="eventModel.AnswerId" />
                <div class="form-group">
                    <div class="col-md-10">
                        Строка AnswerEvent[] JSON:
                        <input type="text" id="eventModel.EventsJson" name="eventModel.EventsJson" />
                        <button onclick="randomEvents(); return false;">Сгенерировать...</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="Сохранить" />
                    </div>
                </div>
            </form>
        </div>

        <div id="attachments" style="background-color: antiquewhite;display:none;padding:10px;">
            <h2>Attachments</h2>

            <form id="attachmentsForm"
                  method="post"
                  enctype="multipart/form-data"
                  action="api/v1/answers/{answerId}/attachments">

                <input type="hidden" id="attachmentModel.AnswerId" name="attachmentModel.AnswerId" />
                <div class="form-group">
                    <div class="col-md-10">
                        <p>Файлы вложений:</p>
                        <input type="file" id="attachmentModel.Files" name="attachmentModel.Files" multiple />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="Сохранить" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    $("#eventsForm").submit(function (event) {
        var selectedAnswerId = $("#answers option:selected").val();
        $("#eventModel\\.AnswerId").val(selectedAnswerId);
        $("#eventsForm").attr('action', 'api/v1/answers/' + selectedAnswerId + '/events');
    });

    $("#attachmentsForm").submit(function (event) {
        var selectedAnswerId = $("#answers option:selected").val();
        $("#attachmentModel\\.AnswerId").val(selectedAnswerId);
        $("#attachmentsForm").attr('action', 'api/v1/answers/' + selectedAnswerId + '/attachments');
    });

    $("#answers").change(function (event) {
        $("#events").show();
        $("#attachments").show();
    });    

    $("#answerSource").click(function () {
        const url = "api/v1/answers/";

        // Populate dropdown with list of provinces
        $.getJSON(url, function (data) {            
            var dropdown = $('#answers');
            dropdown.empty();
            dropdown.append('<option selected="true" disabled>Выберите ответ</option>');
            dropdown.prop('selectedIndex', 0);

            $.each(data, function (key, entry) {
                dropdown.append($('<option></option>').attr('value', entry.id).text(entry.id + ' | ' + entry.text));
            })
            $('#answersLoading').hide();
            $('#answers').show();
        }); 
        $('#answersLoading').show();
        $("#answerSource").hide();
    });

    var randomEvents = function () {
        var selectedAnswerId = $("#answers option:selected").val();
        $.get("api/v1/answers/" + selectedAnswerId + "/random-events?answerId=" + selectedAnswerId , function (data) {            
            $('#eventModel\\.EventsJson').val(JSON.stringify(data))
        });
    }
</script>
